.news-feed {
  width: 58%;
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 16%;
  padding: 0;
}
.news-feed-card {
  width: 100%;
  box-shadow: 3;
  border-radius: 2;
  max-height: 500px;
}
.card-media {
  object-fit: cover;
  max-height: 300px;
  border: solid 2px;
}
.MuiCardHeader-avatar {
  margin-right: 6px !important;
}
.explore {
  width: 60%;
  height: 98vh;
  position: relative;
  top: 6px;
  left: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9%;
}

/* @media screen {
  
} */
