.chat-window {
  top: 12%;
  position: fixed;
  right: 1em;
  /* border: solid 2px; */
}
.conversation-list {
  height: 80%;
  padding: 10px;
  background: "red";
}

.message-window {
  height: 80%;
  padding: 10px;
}
